:root {
  /* Color Variables */
  --color-primary: #00aff5;
  --color-primary-hover: #008ec2;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-dark: #054652;
  --color-gray: #6f8b90;
  --color-gray-light: #aaaaaa;
  --color-gray-lighter: #f0f0f0;

  --color-red: #ff0000;

  /* Font Size Variables */
  --font-size-small: 0.7rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
}

body {
  color: #000;
  background: #fff;
  margin: 0;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
