.form {
  z-index: 3; /* Ensure the form is above the overlay */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 50%;
  padding: 10px 10px 10px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 9999px;
}

.form label {
  width: 100%;
  font-weight: bold;
  color: #333;
}

.form > label > div:first-child {
  display: block;
  width: 90%;
  padding-top: 10px;
}

.form input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.react-datepicker-popper {
  z-index: 999;
}

.form input:focus {
  outline: none;
}

.error {
  font-size: 10px;
  font-weight: 400;
  color: red;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #00aff5;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: #008ec2;
}

.searchIcon {
  filter: invert(100%);
}
