.searchForm {
  z-index: 3; /* Ensure the form is above the overlay */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 50%;
  padding: 10px 10px 10px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 9999px;
}

.searchForm label {
  width: 100%;
  font-weight: bold;
  color: var(--color-gray-dark);
}

.searchForm ::placeholder {
  color: var(--color-gray);
}

.searchForm > label > div:first-child {
  display: block !important; /* important is added here because of a not necessary override by react-datepicker */
  width: 90%;
  padding-top: 10px;
}

.searchForm input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.searchForm input:focus {
  outline: none;
}

.react-datepicker-popper {
  z-index: 999;
}

.error {
  font-size: var(--font-size-small);
  font-weight: 400;
  color: var(--color-red);
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.submitButton:disabled {
  background-color: var(--color-gray-light);
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.searchIcon {
  filter: invert(100%);
}

@media (max-width: 768px) {
  .searchForm {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .searchForm label {
    background-color: var(--color-gray-lighter);
    font-size: var(--font-size-xlarge);
    border-radius: 16px;
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 100%;
  }

  .searchForm > label > div:first-child {
    display: block !important; /* important is added here because of a not necessary override by react-datepicker */
    width: 100%;
    padding-top: 10px;
  }

  .searchForm input {
    font-size: var(--font-size-large);
  }

  .submitButton {
    font-size: var(--font-size-medium);
    gap: 20px;
    border-radius: 16px;
  }

  .submitButton::before {
    content: "Search";
  }
}
