.searchResults {
  width: 100%;
}

.noResults {
  font-size: 1.5rem;
}

.sortButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.resultsAndMap {
  display: flex;
  gap: 20px;
}

.results {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.map {
  width: 500px;
  height: 100%;
}

@media (max-width: 768px) {
  .map {
    display: none;
  }
}