.sortButton {
  border: none;
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
}

.sortButton:hover {
  color: var(--color-primary-hover);
}

.sortButtonSelected {
  font-weight: bold;
}

.sortButtonSelected:hover {
  color: var(--color-primary-hover);
}
